    <!-- templates/index.html -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Personal Website</title>
    </head>
    <body>
        <h1>The Code Temptress</h1>
        <nav>
        <a href="/">Home</a> |
        <a href="/about">About Me</a> |
        <a href="/skills">Skills & Projects</a> |
        <a href="/blog">Blog</a> |
        <a href="/contact">Contact</a>
    </nav>
        <p>Welcome to My Personal Hub</p>
    </body>
    </html>